<a href="https://colab.research.google.com/github/basharataly/nyu-python-public-policy/blob/master/HW2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
df = pd.read_csv('/content/drive/My Drive/Data for Python/cleaned_311_data.csv', header='infer')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (9,18,21,32,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
ct_counts = df.groupby('open_data_channel_type').size().reset_index(name='count_of_311_requests').sort_values('count_of_311_requests', ascending=False)
ct_counts.head()

  open_data_channel_type  count_of_311_requests
3                  PHONE                1463204
1                 ONLINE                 589865
4                UNKNOWN                 417916
0                 MOBILE                 368759
2                  OTHER                  19267

In [20]:
df.groupby([ 'complaint_type','open_data_channel_type' ]).size().nlargest().reset_index(name='count')

                        complaint_type open_data_channel_type   count
0  Request Large Bulky Item Collection                  PHONE  177175
1                       HEAT/HOT WATER                  PHONE  128002
2                  Noise - Residential                  PHONE   95407
3                     Blocked Driveway                  PHONE   95206
4                  Noise - Residential                 ONLINE   89050

Phone is more convenient for complaints like bulky item collection and blocked driveway. Also, maybe more people complain about it on phone to have quicker response.

In [24]:
compaint_counts = df.groupby(['open_data_channel_type', 'complaint_type']).size().reset_index(name='count')
complaint_counts.sort_values(['count','complaint_type'], ascending=[False,True]).drop_duplicates(['complaint_type'])

                          complaint_type open_data_channel_type   count
378  Request Large Bulky Item Collection                  PHONE  177175
200                       HEAT/HOT WATER                  PHONE  128002
316                  Noise - Residential                  PHONE   95407
47                      Blocked Driveway                  PHONE   95206
429               Street Light Condition                UNKNOWN   77755
..                                   ...                    ...     ...
52                         Bottled Water                  PHONE       5
165            Fire Alarm - Reinspection                 ONLINE       5
182                 Forensic Engineering                UNKNOWN       5
374                            Rangehood                 ONLINE       5
517              X-Ray Machine/Equipment                 ONLINE       5

[229 rows x 3 columns]